/* BASIC PAGE STYLES and basic typography setup */

html, body {
  width: 100vw;
}

.main {
  height: 90vh;
}

body {
  font-family: 'Sarabun', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

body::before {
  content: '';
  background-image: url('../images/pexels-henry-&-co-1939485.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .4;
}

header, footer {
  width: 100vw;
}
/* END generic styles
START top navbar styles 
*************************
************************** */

header nav {
  width: 100vw;
  padding: 5em;
}

nav.navbar-dark {
  background: hsl(10, 15%, 57%) !important;
}

header nav a, #navbarMenu li a {
  font-weight: bold;
  padding: .5em 1.5em .5em .5em;
}

#navbarMenu ul:hover .active {
  background: none;
}

#navbarMenu .active, #navbarMenu ul a:active, #navbarMenu li a:hover,
#navbarMenu ul .active:hover {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(25, 65, 90, .5) 35%, rgb(0, 212, 255) 100%);
  border-radius: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}
/* END top navbar styles 
START left-side main content styles 
**************************
**************************
************************** */

.left-side::before {
  content: '';
  opacity: .8;
  background: linear-gradient(to right, rgba(109, 179, 242, .6) 70%, rgba(109, 60, 252, .6) 100%),
                url('../images/pexels-gdtography-911738.jpg');
  background-size: contain, cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.left-side {
  height: 100%;
  padding: 0;
}

.left-side p {
  letter-spacing: .1em;
}

.introduction {
  padding: 1em;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(25, 65, 90, .5) 35%, rgba(0, 212, 255, 1) 100%);
  color: white;
}

.announcing {
  padding: 0;
  padding-top: 1.5em;
  font-size: 1.7em;
  margin: 0;
  text-align: justify;
}

.announcing p {
  margin: 0;
  padding: 0;
}

.intro-background-image {
  text-align: center;
  background: white;
  background-image: url('../images/older-replace-later.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 1em;
  height: 15em;
  width: 15em;
}
/** END left-side page general styling
START right-side page general styling 
*************************************/

.right-side {
  height: 100%;
  padding: 0;
}

.right-side .row {
  margin: auto;
  width: 100%;
  height: 100%;
}

.right-top-content::before {
  content: '';
  background-image: url('../images/coding-1853305_640.jpg');
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-position-x: -12em;
  background-size: cover;
}

.right-bottom-content {
  background: hsl(10, 15%, 57%);
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.right-bottom-content h2 {
  padding-top: 1.5em;
  font-size: 1.3em;
  text-transform: uppercase;
}

.right-bottom-content h2+p {
  padding-top: .4em;
  border-top: 1px solid white;
  display: inline-block;
}
/** end right hand side page styles 
** START PORTFOLIO page-specific styles 
*********************************
**********************************/

.blog .card-header {
  background: hsla(10, 15%, 57%, .5);
}

.portfolio__item {
  background: hsla(10, 15%, 57%, .6);
}

.portfolio__item {
  display: inline-block;
  border: 3px solid black;
}

.portfolio__item .portfolio__img {
  width: 25em;
}
/** END portfolio-specific styles
START BLOG specific styles **/

.card_body {
  text-align: left;
}

.blog_item {
  text-align: left;
}

.blog li {
  text-align: left;
}

p.card-text {
  text-indent: 2em;
}
/** END blog-specific styles 
START ABOUT-page specific styles 
*********************************
**********************************/

.about-right-content {
  text-align: left;
  text-indent: 2em;
  font-weight: 600;
}

.about-right-content h1, .about-right-content h2 {
  font-size: 1em;
  padding: 0;
}

.about-right-content h1 {
  margin-bottom: 1em;
}

.about-right-content a {
  color: white;
}

.about-right-content address {
  background: hsl(10, 15%, 57%);
  border-bottom: 1px solid hsl(10, 15%, 35%);
  padding-bottom: 1em;
}
/** END ABOUT-age specific styles
START BLOG_INDEX specific styles
/*******************************/

.blog_index_item {
  background-color: lightblue;
  margin: 2em 0 2em 0;
  border: 1px solid black;
  padding: 0.5em 0 1em 0;
}

.blog_index_item:hover {
  background-color: rgba(200,100,200, .2);
}

.blog_index_item ul {
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
  padding-right: .5em;
}

.blog_index_item li.item_title a {
  font-weight: 900;
  color: blue;
  letter-spacing: .1em;
  font-size: 1.1em;
  margin-left: .5em;
}

li.item_title a:hover {
  text-decoration: none;
}

.blog_index_item li.item_content span {
  margin-left: .6em;
  letter-spacing: .1em;
}
