    <div class="container">
        <div class='row main px-n3'>
            <div class="left-side col-12 col-md-6">
                <div class="card introduction">
                    <div class="intro-background-image mx-auto rounded rounded-circle mt-4 px-n2">
                    </div>
                    <div class="announcing mx-auto">
                        <p class="">Front-End/Back-End</p>
                        <p class="">WEB DEVELOPMENT</p>
                    </div>
                </div>
            </div>
            <div class="right-side col-12 col-md-6">
                <div class="row blog text-justify">
                    <div class="blog_item card col-12">

                        <div class="card-body">
                            <h1>Blog entry: {{blog_item_date}}</h1>
                            <h2 class='card-header'>{{blog_item_title}}</h2>
                            <div class='card-text'>
                                {{blog_item_content}}
                            </div>
                            <p class="card-text"><small class="text-muted">{{blog_item_date}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>