<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expert Web Developer: Django,React,Node,Python,Javascript</title>
    <meta name="description" content="Creative knowledgeable web developer, expertise with Django, React, Node">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&family=Sarabun:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class='container-fluid'>
        <header class=''>
            <nav class="row navbar navbar-dark bg-dark navbar-expand-md">
                <div class="col-6">
                    <div class="navbar-header ml-md-5 text-center">
                        <a class="navbar-brand ml-auto"> Joachim Byrnes-Shay </a>
                    </div>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu"><span class="navbar-toggler-icon"></span></button>
                </div>
                <div class="col-6">
                    <div id="navbarMenu" class="px-5 collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link text-white active" href="index.html" aria-current="true">HOME</a></li>
                            <li class="nav-item"><a class="nav-link text-white" href="blog.html">BLOG</a></li>
                            <li class="nav-item"><a class="nav-link text-white" href="projects.html">PROJECTS</a></li>
                            <li class="nav-item"><a class="nav-link text-white" href="about.html">ABOUT</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>